.container {
    padding-top: 12px;
    padding-bottom: 12px;
}   
.card {
    margin-top: 12px;
}
.card-title {
    font-size: 18px;
    font-weight: bold;
}
.card-text {
    margin-bottom: 0;
}
  
img {
    max-width: 100%;
}
.btn-primary {
    background-color: #007bff;
    border-color: #007bff;
}
.centre,.boton-cerrar{
    display: flex;
    justify-content: center;
    align-items: center ;
}
.botones{
    padding: 2%;
    display: flex;
    justify-content: center;
    gap: 10px;
}
.fijar{
    position: fixed;
    right: 12px;
}
@media(max-width: 767px){
    .boton-cerrar{
        border: 1px solid lightgrey; 
        border-radius: 100%;
        width: 50px;
        height:50px;
    }
    .fijar{
        width: 100vw;
        position: fixed;
        left: .2px;
        bottom: -10px;
    }
    .espacio{
        padding-bottom: 205px;
    }

    .imagen {
        padding-bottom: 12px;
    }
}
@media(min-width: 767px){
    .fijar{
        position: fixed;
        right: 12px;
    }
}

@media(max-width: 320px){
    h2{
        text-align: center;
    } 
    .espacio{
        padding-bottom: 225px;
    }
} 