a {
    text-decoration: none;
    color: black
}

.imagen-producto {
    border-bottom: 1px solid lightgrey;
    background-color: rgba(211, 211, 211, 0.2);
}

.imagen {
    height: 100%;
    width: 100%;

}

.productos-busqueda {
    /* padding: 30px 0 !important; */
    padding-top: 30px;
    padding-bottom: 30px;
}

.texto {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    /* number of lines to show */
    line-clamp: 1;
    -webkit-box-orient: vertical;
}

.card {
    border: none;
}

.imagen {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 350px;
}

.imagen img {
    max-height: 100%;
    max-width: 100%;
}

ul.pagination {
    display: inline-block;
    padding: 0;
    margin: 0;
}

ul.pagination li {
    display: inline;
}

ul.pagination li a {
    color: black;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
}

ul.pagination li a.active {
    background-image: linear-gradient(147deg, #000000 0%, #2f2f2f 74%);
    border: 1px solid #000;
    color: white;
}

ul.pagination li a:hover:not(.active) {
    background-color: #ddd;
}

.paginacion {
    margin-top: 16px;
}

.paginacion li a {
    border: 1px solid #e7e7e7;
}

.flecha-izq > a, .flecha-der > a{
    background-color: #f3f3f3;
    color: #565959;
}

.flecha-der > a {
    border-radius: 0 10px 10px 0;
}

.flecha-izq > a {
    border-radius: 10px 0 0 10px;
}