header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
}

nav{
    display: flex;
    justify-content: space-between;
    min-width: 100vw;
    background: lightgray;
    min-height: 10vh;
}

.logo,.carro{
    width: 20vw;
}

.logo img{
    margin-top: 1vh;
    width: 13vw;
    height: 8vh;
    object-fit: contain;
}


/*
* Barra buscadora
*/
.form{
    left: -70%;
    width: 35vw;
    position: relative;
}

.form .fa-search{

    position: absolute;
    top:20px;
    left: 20px;
    color: #9ca3af;

}

.form span{

    position: absolute;
    right: 17px;
    top: 13px;
    padding: 2px;
    border-left: 1px solid #d1d5db;

}

.left-pan{ 
    padding-left: 7px;
}

.left-pan i{
   padding-left: 10px;
}

.form-input{
    
    height: 55px;
    text-indent: 33px;
    border-radius: 10px;
}

.form-input:focus{

    box-shadow: none;
    border:none;
}

.carro img{
    margin-left: 5vw;
    margin-top: 1vh;
    width: 13vw;
    height: 8vh;
    object-fit: contain;
    mix-blend-mode: lighten;
}


@media (max-width: 768px){
    nav{
        display: grid;   
    }
    .logo,.carro{
        max-width: 20vw;
        margin-left: 44vw;
    }
    .form{
        margin-top: 2vh;
        margin-left: 230vw;
        width: 97vw;
    }
    .carro img{
        margin-left: -2%;
    }
}

@media (max-width: 655px){
    nav{
        display: grid;
    }
    .logo,.carro{
        max-width: 20vw;
        margin-left: 44vw;
    }
    .form{
        margin-top: 2vh;
        margin-left: 230vw;
        width: 97vw;
    }
    .carro img{
        margin-left: -2%;
    }
}


@media (max-width: 457px){
    nav{
        display: grid; 
    }
    .logo,.carro{
        max-width: 20vw;
        margin-left: 44vw;
    }
    .form{
        margin-top: 2vh;
        margin-left: 230vw;
        width: 97vw;
    }
    .carro img{
        margin-left: -2%;
    }
}